body {
     background-color: hsl(342, 78%, 91%);
     font-family: "Emilys Candy", serif;
}
footer {
     background-color: hsla(246, 72%, 53%, 0.904);
     color: hsl(315, 100%, 90%);
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 2rem;
}
footer p {
    text-align: center;
    font:  0.6rem;
    margin-top: 0.5rem;
}